*.html
*.dat
*.aux
*.log
*.out
*.synctex.gz
.DS_Store
report/*.pdf
exam/*.pdf
Article/*.pdf
article/*.pdf
*.toc
*.bak
*.synctex.gz
*.bbl
*.blg
*.class
*.nav
*.snm
*.pyc
*.fdb_latexmk
*.sublime-project
*.sublime-workspace
